<h1 style="background-color:black; color:white; padding:10px;">
    Notebook 04 - Dataset consolidado
</h1>

<hr style="background-color:transparent;height:4px;border:none;border-top:2px solid #c0c0c0;border-bottom:2px solid #c0c0c0;">

### Definições iniciais

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Habilitação de recarga de módulo editado.

In [1]:
%load_ext autoreload
%autoreload 2

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Pacotes de uso geral.

In [2]:
import sys
import dtale    # instalado com: conda install dtale -c conda-forge
import numpy as np
import pandas as pd
# from html import unescape
# from tqdm.notebook import tqdm
# from pprint import pprint #, pformat , PrettyPrinter

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Módulos em diretórios fora de `sys.path` .

In [3]:
# diretório com módulos utilitários
sys.path.append('d:/py_utils')

In [4]:
from pd_utils import (
    d_pd, exemplo_linha, resumo_tipos, resumo_categ, resumo_serie,
    DisplayPandas, ExemploLinha, ResumoTipos, ResumoCateg, ResumoSerie
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Módulos no diretório do notebook.

In [5]:
from tcc import (
    frame2pickle, pickle2frame, object2pickle, pickle2object # , ofuscar_params, coletar_dict
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Utilidades de exibição e resumo de objetos `pandas`.

In [6]:
# índice do primeiro elemento True de uma série boleana
prim_true = lambda sr: sr[lambda s: s].index[0]

In [7]:
# primeiro item, 1 items intermediário, item final e dimensões de objeto pandas
h1s1t1 = DisplayPandas(head=1, sample=1, tail=1)

In [8]:
# exemplo de linha do dataframe com detalhes dos tipos de dados do índice e das colunas
ex_linha = ExemploLinha(reset_index=True, cor_tipo=True)

In [9]:
# resumo de todas colunas como se fossem categóricas, incluindo índice do objeto
resu_cat = ResumoCateg(reset_index=True)

In [10]:
# resumo de todas colunas como se fossem categóricas com destaques em cores
resu_cat_cor = ResumoCateg(
    reset_index=True,
    percent='{:.0%}',
    tit_orig = ('org', 'índ', 'dds'),
    dct_apply=eval(ResumoCateg.modelo_apply),
    dct_applm=eval(ResumoCateg.modelo_applm)
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Outras definições.

In [11]:
d = display
pdod = pd.options.display
pdoc = pd.option_context
pdod.precision = 2
pdod.max_columns = None

<hr style="background-color:transparent;height:4px;border:none;border-top:2px solid #c0c0c0;border-bottom:2px solid #c0c0c0;">

### Módulo `tcc`: variáveis comuns a mais de um notebook

In [12]:
# módulo `tcc.py` na pasta do notebok com variáveis comuns aos notebooks
import tcc

In [13]:
# caminhos
d(
      tcc.p_dir_tcc    # diretório inicial TCC
    , tcc.p_dir_bricklink    # diretório dados Bricklink
    , tcc.pckl_df_lista_cores    # dataframe lista cores
    , tcc.pckl_df_lista_categs    # dataframe lista categorias
    , tcc.pckl_df_guia_precos    # dataframe histórico vendas
    , tcc.pckl_df_catal_bricks    # dataframe catálogo peças
    , tcc.pckl_cat_paises    # tipo de dados categórico países
    , tcc.pckl_df_vendas_bricks    # dataframe consolidado
    , tcc.pckl_df_img_dscr    # dataframe imagens descrições peças
)

WindowsPath('d:/jup_ws/tcc')

WindowsPath('d:/jup_ws/tcc/bricklink')

WindowsPath('d:/jup_ws/tcc/bricklink/df_lista_cores.pickle')

WindowsPath('d:/jup_ws/tcc/bricklink/df_lista_categs.pickle')

WindowsPath('d:/jup_ws/tcc/bricklink/df_guia_precos.pickle')

WindowsPath('d:/jup_ws/tcc/bricklink/df_catal_bricks.pickle')

WindowsPath('d:/jup_ws/tcc/bricklink/cat_paises.pickle')

WindowsPath('d:/jup_ws/tcc/bricklink/df_vendas_bricks.pickle')

WindowsPath('d:/jup_ws/tcc/bricklink/df_img_dscr.pickle')

<hr style="background-color:transparent;height:4px;border:none;border-top:2px solid #c0c0c0;border-bottom:2px solid #c0c0c0;">

### Exploração e tratamento inicial de `df_guia_precos`

- Informações do históricos de vendas das peças de interesse.

In [14]:
df_guia_precos = pickle2frame(tcc.pckl_df_guia_precos)
h1s1t1(df_guia_precos)

Lido: d:\jup_ws\tcc\bricklink\df_guia_precos.pickle
Tamanho: 91964293 bytes
Modifificado em: 27/10/2021 13:31:45

,,,,quantity,unit_price,seller_country_code,buyer_country_code,date_ordered
no,color_id,new_or_used,ord_itm_id,,,,,
3005,80,U,0,10,0.0250,PL,PL,2016-12-13T18:42:52.050Z
3009,1,U,572977,1,0.0200,US,US,2021-04-04T15:26:56.847Z
30145,11,N,1332488,1,0.4051,AU,AU,2021-07-29T01:37:47.683Z

(1332489, 5)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Valores e tipos de dados de uma linha de exemplo.

In [15]:
# detalhes da primeira linha com país do comprador diferente do país do vendedor
ex_linha(df_guia_precos, 
    loc=prim_true(df_guia_precos.seller_country_code != df_guia_precos.buyer_country_code)
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Resumos estatísticos.

In [16]:
d(df_guia_precos.describe().T)
d(resu_cat_cor(df_guia_precos))

             count   mean     std  min  25%  50%   75%      max
quantity  1.33e+06  22.84  179.22  1.0  2.0  5.0  13.0  50000.0

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Conferência dos códigos de países dos vendedores e dos compradores contra o tipo de dados `cat_paises`.

In [17]:
# carga do tipo de dados `cat_paises` criado em notebook anterior
cat_paises = pickle2object(p_pickle=tcc.pckl_cat_paises)

Lido: d:\jup_ws\tcc\bricklink\cat_paises.pickle
Tamanho: 1565 bytes
Modifificado em: 27/10/2021 11:14:05

In [18]:
# código existente em `df_guia_precos` que não existe em `cat_paises`
(
    (set(df_guia_precos.seller_country_code) | set(df_guia_precos.buyer_country_code))
    - set(cat_paises.categories)
)

{'UK'}

In [19]:
# carga de `df_paises` para localização do código do Reino Unido da Grã-Bretanha
df_paises = pickle2frame(tcc.pckl_df_paises)

Lido: d:\jup_ws\tcc\bricklink\df_paises.pickle
Tamanho: 21101 bytes
Modifificado em: 27/10/2021 11:13:58

In [20]:
# linhas de `df_paises` que contêm 'UK' em qualquer coluna com dtype `object`
with pdoc('max_colwidth', None):
    d(df_paises[
        pd.concat(
            [df_paises.fillna('')[nm_col].str.contains('UK')
            for nm_col in df_paises.select_dtypes('O').columns]
            , axis=1 )
        .any(axis=1) ])
# somente uma linha, que indica que 'UK' pode ser substituído por 'GB'

,country_name,code_year,top_level_domain,subdivisons,notes
country_code,,,,,
GB,United Kingdom of Great Britain and Northern Ireland,1974,.gb (.uk),ISO 3166-2:GB,"Code taken from Great Britain (from official name: United Kingdom of Great Britain and Northern Ireland)[17]Previous ISO country name: United Kingdom.uk is the primary ccTLD of the United Kingdom instead of .gb (see code UK, which is exceptionally reserved)"

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Ajustes de tipos de dados iniciais. Outros ajustes podem ser úteis/necessários após junções de datasets.

In [21]:
df_guia_precos = (
    df_guia_precos
    .assign(
        unit_price = lambda df: df.unit_price.astype(float),    # preço unitário para `float`
        date_ordered = lambda df: pd.to_datetime(df.date_ordered)    # data e hora da compra
            .dt.tz_convert(None),    #  remoção de timezone UTC para representação mais curta
        seller_country_code =    # código do país do vendedor para tipo de dados categórico
            lambda df: df.seller_country_code.replace('UK', 'GB').astype(cat_paises),
            # `seller_country_code` tinha 'UK' para Grã-Bretanha, mas `cat_paises` usa 'GB'
        buyer_country_code =    # código do país do comprador para tipo de dados categórico
            lambda df: df.buyer_country_code.replace('UK', 'GB').astype(cat_paises)
            # `buyer_country_code` tinha 'UK' para Grã-Bretanha, mas `cat_paises` usa 'GB' 
    )
    .pipe(lambda df: df.set_axis(    # coluna `new_or_used` do índice como categórica
        df.index.set_levels(df.index.levels[2].astype('category'), level=2) ) 
    )
)

In [22]:
# nova situação dos tipos de dados para a mesma linha verificada anteriormente
ex_linha(df_guia_precos, 
    loc=prim_true(df_guia_precos.seller_country_code != df_guia_precos.buyer_country_code) )

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Resumo técnico.

In [23]:
df_guia_precos.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1332489 entries, ('3005', 80, 'U', 0) to ('30145', 11, 'N', 1332488)
Data columns (total 5 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   quantity             1332489 non-null  int64
 1   unit_price           1332489 non-null  float64
 2   seller_country_code  1332489 non-null  category
 3   buyer_country_code   1332489 non-null  category
 4   date_ordered         1332489 non-null  datetime64[ns]
dtypes: category(2), datetime64[ns](1), float64(1), int64(1)
memory usage: 119.2+ MB

<hr style="background-color:transparent;height:4px;border:none;border-top:2px solid #c0c0c0;border-bottom:2px solid #c0c0c0;">

### Exploração e tratamento inicial de `df_catal_bricks`

- Características das peças de interesse constantes no catálogo de itens.

In [24]:
df_catal_bricks = pickle2frame(tcc.pckl_df_catal_bricks)
with pdoc('max_colwidth', None):
    h1s1t1(df_catal_bricks)

Lido: d:\jup_ws\tcc\bricklink\df_catal_bricks.pickle
Tamanho: 20308 bytes
Modifificado em: 27/10/2021 13:33:11

,name,type,category_id,image_url,thumbnail_url,weight,dim_x,dim_y,dim_z,year_released,is_obsolete,alternate_no,description,no_pfx,no_sfx
no,,,,,,,,,,,,,,,
bhol01,Brick 4 x 4 Corner without Bottom Tubes,PART,5,//img.bricklink.com/PL/bhol01.jpg,//img.bricklink.com/P/5/bhol01.jpg,3.50,4.00,4.00,1.00,0,False,NaN,Earlier versions of this brick do not have the LEGO logo on the studs.,0,bhol01
3067,Brick 1 x 6 without Bottom Tubes,PART,5,//img.bricklink.com/PL/3067.jpg,//img.bricklink.com/P/14/3067.jpg,2.50,1.00,6.00,1.00,1979,False,NaN,NaN,3067,
49311,Brick 1 x 4 x 3,PART,5,//img.bricklink.com/PL/49311.jpg,//img.bricklink.com/P/153/49311.jpg,3.97,1.00,4.00,3.00,2019,False,NaN,NaN,49311,

(85, 15)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Valores e tipos de dados de uma linha de exemplo.

In [25]:
(
    ex_linha(df_catal_bricks, loc='3003')
    .set_table_styles(
        [dict(selector='th.col0,td.col0', props='width:300px;')]
        , axis=1, overwrite=False
    )
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Ajustes de tipos de dados.

In [26]:
# colunas com valores `float`: peso e dimensões
cols_float = ['weight','dim_x','dim_y','dim_z']
df_catal_bricks.loc[:, cols_float] = df_catal_bricks.loc[:, cols_float].astype(float)

In [27]:
# nova situação dos tipos de dados para linha verificada anteriormente
(
    ex_linha(df_catal_bricks, loc='3003')
    .set_table_styles(
        [dict(selector='th.col0,td.col0', props='width:300px;')]
        , axis=1, overwrite=False
    )
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Resumo categórico.

In [28]:
with pdoc('precision', 1):
    d(resu_cat_cor(df_catal_bricks))

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Colunas não relevantes, a princípio, para o problema de *machine learning*:
    - `type`, `category_id`: têm o mesmo valor em todas linhas, conforme quadro acima.
    - `year_released`: conforme quadro acima, 24% dos códigos de peças não têm essa informação e o ano do lançamento não reflete a raridade da peça (há peças antigas que todos anos estão em sets LEGO e peças mais recentes que são utilizadas com menos frequência).
    - `is_obsolete`: conforme verificação abaixo, há um único código de peça descontinuado e ele não tem qualquer pedido (*order*) associado.
    - `alternate_no`: conforme verificação abaixo, poderia servir para junções com outras fontes de dados de outros sites, mas não tem essa utilidade na base de dados do Bricklink.
    - `image_url`, `thumbnail_url`: URLs das imagens do tipo de peça, na resolução padrão e na resolução para miniatura; apontam para arquivos cujos nomes contêm o código da peça (podem ajudar na exploração dos dados, mas não como variáveis preditoras)
    - `description`: conforme verificação abaixo, em 26% dos códigos de peças há observações que auxiliam vendedores e compradores, mas não são relevantes/úteis para diferenciação/caracterização de pedidos (*orders*).

In [29]:
# verificação da coluna `is_obsolete`
with pdoc('max_colwidth', None):
    d(df_catal_bricks[df_catal_bricks.is_obsolete].T)
    d(df_guia_precos.query('no == 700').T)
# conclusão: há um único código de peça descontinuado sem qualquer pedido/order,
#     então a coluna `is_obsolete` pode ser descartada

no                                                                                                       700
name                                                             Brick 10 x 20 (Undetermined Underside Type)
type                                                                                                    PART
category_id                                                                                                5
image_url                                                                     //img.bricklink.com/PL/700.gif
thumbnail_url                                                                //img.bricklink.com/P/1/700.jpg
weight                                                                                                  36.0
dim_x                                                                                                   10.0
dim_y                                                                                                   20.0
dim_z                                                                                                    1.0
year_released                                                                                              0
is_obsolete                                                                                             True
alternate_no                                                                                             NaN
description    This part was marked for deletion because it was split into several distinct catalog entries.
no_pfx                                                                                                   700
no_sfx

Empty DataFrame
Columns: []
Index: [quantity, unit_price, seller_country_code, buyer_country_code, date_ordered]

In [30]:
# verificação da coluna `alternate_no`
alternate_nos = sorted(
    df_catal_bricks.alternate_no[lambda x: x.notna()]
    .str.replace(' ', '').str.cat(sep=',').split(',')
)
print(alternate_nos)
d(df_catal_bricks[df_catal_bricks.index.isin(alternate_nos)].T)
# conclusão: os códigos alternativos da peças não são referenciados na própria base, 
#     então a coluna `alternate_no` pode ser descartada (ainda que, eventualmente, 
#     possam servir para junções com outras fontes de dados que usem esses códigos)

['30071', '35256', '35274', '35275', '35382', '35743', '43802', '44041', '44042', '44237', '44590', '45505', '60033', '6223', '6223old', '92538', '93792', '93888']

Empty DataFrame
Columns: []
Index: [name, type, category_id, image_url, thumbnail_url, weight, dim_x, dim_y, dim_z, year_released, is_obsolete, alternate_no, description, no_pfx, no_sfx]

In [31]:
# verificação da coluna `description`
with pdoc('max_colwidth', None):
    (
        df_catal_bricks
        .description
        [lambda x:  x.notna() & (x != '')]
        .reset_index()
        .drop_duplicates()
        .set_index('no')
        .sort_values('description')
        .pipe(lambda df: d(df, df.shape))
    )
# conclusão: em 22 dos 85 códigos de peças, a coluna tem informações históricas
#     sobre o tipo de peça e/ou sobre pequenas variações aceitáveis nas peças 
#     vendidas sob o código, mas o pedido (order) em si só registra o código e
#     trata eventuais variações sem distinção

                                                                                                                                                                                                                                                                         description
no
700eX        Before the introduction of modern baseplates in the 1980s this part and a few others like it were used as baseplates and are referred to as such in early LEGO catalogs.  This catalog entry is for two different underside versions as shown in the additional images.
bhol01                                                                                                                                                                                                        Earlier versions of this brick do not have the LEGO logo on the studs.
3001oldb                                                                                                                                                                                                    Item was used to attach a pull cord to Duplo bricks in older Duplo sets.
3001special        Listings may vary from catalog image and should be described by seller. \n\n<!--I have preserved an entire set of Troy's signature images underneath this special entry. They represent the eternal quest for the color yet to be found. Russell - May 3, 2018-->
2453a                                                                                                                                                                             Stud may be either completely hollow or open with a narrow bar blocking the center of the opening.
2454                                                                                                                                                                         The studs may be either completely hollow or open with a narrow bar blocking the center of the opening.
4204                                                                                                                                                                                                                          The transition to item number 44041 began around 2002.
3003                                                                                               The weight of this part in transparent colors tends to be heavier than the weight for opaque colors.  Weights have been found to vary from 1.26g (opaque) to 1.43g (transparent).
3001                                                                                                                                                                                  This part has a dizzying array of variants, only a few of which have separate catalog entries.
3001old                                                                                                                                                                                                                 This part has a variant in which the bottom tubes are split.
3010                                                                                                                                                                                                          This part has at least four known variants with underside differences.
3004                                                                                                                                                        This part has at least two known variants with noticeable underside differences, including pin supports for one variant.
3755                                                                                                                                                                             This part has at least two known variants, including variants with and without inner side supports.
3008                                                                                                                                                                                        This part has at least two variants with differences in the depth of the cross supports.
3009                                                                                                                                                                                        This part has at least two variants with differences in the depth of the cross supports.
3622                                                                                                                                                                                         This part has at least two variants, including one with cross supports and one without.
3006                                                                                                                                                                                                                 This part has variants with and without interior side supports.
3007                                                                                                                                                                                                                 This part has variants with and without interior side supports.
2357                                                                                                                                                                                                                           This part has variants with differing underside pins.
700                                                                                                                                                                                    This part was marked for deletion because it was split into several distinct catalog entries.
3005f2                                                                                                                           Two variants of this part exist: one with a frosted horizontal line on two opposite sides and one with a frosted horizontal line on all four sides.
2456                                                                                                                                                 Underside tube shape change from round to slightly squared was noted in 2011.  This part also has a variant with side supports.

(22, 1)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Descarte das colunas não relevantes.
- Preservação das colunas `image_url`, `thumbnail_url` e `description` em dataframe separado para eventual referência.

In [32]:
# preservação de URLs de imagens e da descrição em dataframe separado
cols_img_dscr = ['image_url', 'thumbnail_url', 'description']
df_img_dscr = df_catal_bricks[cols_img_dscr]

# descarte de colunas não relevantes, a princípio, para o problema de ML
cols_drop = ['type', 'category_id', 'year_released', 'is_obsolete', 
    'alternate_no', 'image_url', 'thumbnail_url', 'description']
df_catal_bricks = df_catal_bricks.drop(columns=cols_drop)

In [33]:
# nova situação da linha verificada anteriormente
(
    ex_linha(df_catal_bricks, loc='3003')
    .set_table_styles(
        [dict(selector='th.col0,td.col0', props='width:300px;')]
        , axis=1, overwrite=False
    )
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Resumo estatístico.
- Há códigos de peças com características físicas zeradas/faltantes.

In [34]:
(
    df_catal_bricks
    .describe()
    .drop(columns='no_pfx')    # sem o prefixo numérico de `no`
    .style.applymap(lambda x: None if x > 0 else 'background-color: yellow;')
)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Modelos de peças com `dim_z` zerada e respectiva correção.
- `dim_z == 0` pode ser corrigida com `dim_z = 1`, conforme https://www.bricklink.com/help.asp?helpID=261 :
> When the height of a piece is standard for how that piece is categorized, only 2 dimensions are used in the Item Name. For example, bricks that are 1 brick high, and plates that are 1 plate high have their height omitted from their Item Names. The first example above is described as a Brick 1 x 1, the height dimension being assumed as 1 and omitted.

In [35]:
# identificação das peças a corrigir
sr_dim_z_0 = df_catal_bricks.dim_z == 0
df_catal_bricks[sr_dim_z_0]

,name,weight,dim_x,dim_y,dim_z,no_pfx,no_sfx
no,,,,,,,
3006,Brick 2 x 10,5.75,2.0,10.0,0.0,3006,
3008,Brick 1 x 8,3.21,1.0,8.0,0.0,3008,
3065,Brick 1 x 2 without Bottom Tube,0.82,1.0,2.0,0.0,3065,

In [36]:
# correção e exibição dos valores corrigidos
df_catal_bricks.loc[df_catal_bricks.dim_z==0, 'dim_z'] = 1.0
df_catal_bricks[sr_dim_z_0]

,name,weight,dim_x,dim_y,dim_z,no_pfx,no_sfx
no,,,,,,,
3006,Brick 2 x 10,5.75,2.0,10.0,1.0,3006,
3008,Brick 1 x 8,3.21,1.0,8.0,1.0,3008,
3065,Brick 1 x 2 without Bottom Tube,0.82,1.0,2.0,1.0,3065,

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Modelos de peças com `weight` zerado e respectiva correção.

In [37]:
# identificação das peças a corrigir
sr_weight_0 = df_catal_bricks.weight == 0
df_catal_bricks[sr_weight_0]

,name,weight,dim_x,dim_y,dim_z,no_pfx,no_sfx
no,,,,,,,
bhol05,Brick 2 x 10 without Bottom Tubes,0.0,2.0,10.0,1.0,0,bhol05
x1214,Brick 2 x 8 with Center Hole,0.0,2.0,8.0,1.0,0,x1214

In [38]:
# peças com mesmas dimensões que as peças com `weight` zerado,
# resgatando o endereço da imagem de thumbnail preservado em `df_url_img`
cols_merge = ['dim_x','dim_y','dim_z']
cols_index = cols_merge + ['weight']
df_similares = (
    df_catal_bricks
    .loc[sr_weight_0, cols_merge]
    .merge(df_catal_bricks.reset_index(), on=cols_merge)
    .iloc[:, :6]
    .merge(df_img_dscr.loc[:, ['thumbnail_url', 'description']], on='no')
    .assign(thumbnail_img=lambda df: '<img src="https:' + df.thumbnail_url + '"/>')
    .drop(columns='thumbnail_url')
    .set_index(cols_index)
    .sort_index()
)
table_styles = [
    {'selector': '.row_heading', 'props': 'vertical-align:top;border:1px solid black;'},
    {'selector': 'thead, .data', 'props': 'border:1px solid black;'},
    {'selector': 'thead th', 'props':'border-left:1px solid black;'},
    {'selector': '.col_heading, .data', 'props':'text-align:center;'}
]
df_similares.style.set_table_styles(table_styles)

In [39]:
# valores para preenchimento de `weight == 0` com a mediana dos grupos de mesmas dimensões 
_ = slice(None)
df_fill_weight_0 = (
    df_similares.loc[(_, _, _, 0.0)]
    .reset_index(level='weight', drop=True)
).join(
    df_similares
    .reset_index()
    [lambda df: df.weight > 0]
    .groupby(cols_merge)
    [['weight']]
    .median()
).reset_index().set_index('no')
df_fill_weight_0.style

In [40]:
# correção e exibição dos valores corrigidos
df_catal_bricks.loc[sr_weight_0, 'weight'] = df_fill_weight_0.weight
df_catal_bricks.loc[sr_weight_0]

,name,weight,dim_x,dim_y,dim_z,no_pfx,no_sfx
no,,,,,,,
bhol05,Brick 2 x 10 without Bottom Tubes,5.88,2.0,10.0,1.0,0,bhol05
x1214,Brick 2 x 8 with Center Hole,4.75,2.0,8.0,1.0,0,x1214

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Resumo estatístico após correções.
- Não há mais características físicas zeradas/faltantes.

In [41]:
df_catal_bricks.describe().drop(columns='no_pfx')

       weight  dim_x  dim_y  dim_z
count   85.00   85.0  85.00  85.00
mean     6.76    2.6   6.22   1.51
std     10.87    2.8   5.40   1.18
min      0.44    1.0   1.00   1.00
25%      1.64    1.0   2.00   1.00
50%      2.60    2.0   4.00   1.00
75%      5.00    2.0   8.00   1.00
max     61.00   12.0  24.00   5.00

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Resumo técnico.

In [42]:
df_catal_bricks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, bhol01 to 49311
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    85 non-null     object
 1   weight  85 non-null     float64
 2   dim_x   85 non-null     float64
 3   dim_y   85 non-null     float64
 4   dim_z   85 non-null     float64
 5   no_pfx  85 non-null     int32
 6   no_sfx  85 non-null     object
dtypes: float64(4), int32(1), object(2)
memory usage: 7.0+ KB

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Salvamento e teste da carga de `df_img_dscr` em formato pickle.

In [43]:
frame2pickle(frame=df_img_dscr, p_pickle=tcc.pckl_df_img_dscr)

Salvo: d:\jup_ws\tcc\bricklink\df_img_dscr.pickle
Tamanho: 10407 bytes
Modifificado em: 07/12/2021 09:42:21

In [44]:
_ = pickle2frame(p_pickle=tcc.pckl_df_img_dscr)
del _

Lido: d:\jup_ws\tcc\bricklink\df_img_dscr.pickle
Tamanho: 10407 bytes
Modifificado em: 07/12/2021 09:42:21

<hr style="background-color:transparent;height:4px;border:none;border-top:2px solid #c0c0c0;border-bottom:2px solid #c0c0c0;">

### Consolidação de `df_guia_precos` e `df_catal_bricks` em `df_vendas_bricks`

- Junção das informações do histórico de vendas das peças de interesse com as características das peças de interesse constantes no catálogo de itens.
- Junção com os atributos das cores resgatados do dataframe `df_lista_cores` salvo em arquivo pickle.

In [45]:
df_vendas_bricks = (
    df_guia_precos.reset_index()
    .merge(df_catal_bricks, on='no')
    .merge(pickle2frame(tcc.pckl_df_lista_cores), on='color_id')
)
with pdoc('max_colwidth', None):
    h1s1t1(df_vendas_bricks)

Lido: d:\jup_ws\tcc\bricklink\df_lista_cores.pickle
Tamanho: 8494 bytes
Modifificado em: 27/10/2021 11:13:00

,no,color_id,new_or_used,ord_itm_id,quantity,unit_price,seller_country_code,buyer_country_code,date_ordered,name,weight,dim_x,dim_y,dim_z,no_pfx,no_sfx,color_name,color_code,color_type
0,3005,80,U,0,10,0.03,PL,PL,2016-12-13 18:42:52.050,Brick 1 x 1,0.44,1.0,1.0,1.0,3005,,dark green,2e5543,solid
319944,3003,5,N,805784,74,0.05,US,US,2021-05-04 22:54:13.870,Brick 2 x 2,1.35,2.0,2.0,1.0,3003,,red,b30006,solid
1332488,3001special,106,U,1111356,1,4.00,US,US,2021-06-21 22:27:56.410,"Brick 2 x 4 special (special bricks, test bricks and/or prototypes)",2.60,2.0,4.0,1.0,3001,special,fabuland brown,b3694e,solid

(1332489, 19)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Renomeação e reordenação das colunas para uma forma mais organizada e compacta.

In [46]:
dct_rename ={
# variáveis da linha de pedido de peça (o = order)
'no': 'p_no',    # código do modelo da peça
'color_id': 'c_id',    # código/ID da cor da peça
'new_or_used': 'n_u',    # estado da peça
'ord_itm_id': 'o_itid',    # ID arbitrário da linha de pedido de peça
'quantity': 'o_qtty',    # quantidade
'unit_price': 'o_unpr',    # preço unitário
'seller_country_code': 'o_sctr',    # país do vendedor
'buyer_country_code': 'o_bctr',    # país do comprador
'date_ordered': 'o_dthr',    # data e hora do pedido
    
# características físicas da peça comercializada (p = part)
'weight': 'p_wt',    # peso/massa em gramas
'dim_x': 'p_dx',    # largura em studs
'dim_y': 'p_dy',    # comprimento em studs
'dim_z': 'p_dz',    # altura em bricks
    
# outros atributos da peça comercializada (p = part)
'name': 'p_nm',    # nome
'no_pfx': 'p_pfx',    # prefixo do código de modelo
'no_sfx': 'p_sfx',    # sufixo do código de modelo
    
# atributos da cor da peça comercializada (c = color)    
'color_name': 'c_nm',    # nome da cor
'color_code': 'c_cd',    # código da cor (RGB 24 bits hexadecimal)
'color_type': 'c_tp'    # tipo/família da cor
}
df_vendas_bricks = (
    df_vendas_bricks
    .rename(columns=dct_rename)
    [dct_rename.values()]
    .set_index('o_itid')
)
with pdoc('max_colwidth', None):
    h1s1t1(df_vendas_bricks)

,p_no,c_id,n_u,o_qtty,o_unpr,o_sctr,o_bctr,o_dthr,p_wt,p_dx,p_dy,p_dz,p_nm,p_pfx,p_sfx,c_nm,c_cd,c_tp
o_itid,,,,,,,,,,,,,,,,,,
0,3005,80,U,10,0.03,PL,PL,2016-12-13 18:42:52.050,0.44,1.0,1.0,1.0,Brick 1 x 1,3005,,dark green,2e5543,solid
429773,3005,47,N,1,0.08,AU,AU,2021-03-17 09:24:23.003,0.44,1.0,1.0,1.0,Brick 1 x 1,3005,,dark pink,c87080,solid
1111356,3001special,106,U,1,4.00,US,US,2021-06-21 22:27:56.410,2.60,2.0,4.0,1.0,"Brick 2 x 4 special (special bricks, test bricks and/or prototypes)",3001,special,fabuland brown,b3694e,solid

(1332489, 18)

<hr style="height:0px;border:none;border-top:1px solid #c0c0c0;">

- Salvamento e teste da carga do dataframe em formato pickle.

In [47]:
frame2pickle(frame=df_vendas_bricks, p_pickle=tcc.pckl_df_vendas_bricks)

Salvo: d:\jup_ws\tcc\bricklink\df_vendas_bricks.pickle
Tamanho: 147936452 bytes
Modifificado em: 07/12/2021 09:42:58

In [48]:
_ = pickle2frame(p_pickle=tcc.pckl_df_vendas_bricks)
del _

Lido: d:\jup_ws\tcc\bricklink\df_vendas_bricks.pickle
Tamanho: 147936452 bytes
Modifificado em: 07/12/2021 09:42:58